**[CRUD Operations](https://en.wikipedia.org/wiki/Create,_read,_update_and_delete)**

## Using the _sakila_ Database

#Check existing databases  
**`mysql> SHOW DATABASES;`**

#Change context  
**`mysql> USE sakila;`**

#Check the current active  
**`mysql> SELECT DATABASE();`**

#Explore existing tables in the active database  
**`mysql> SHOW TABLES;`**

#Show table schema  
**`mysql> SHOW COLUMNS FROM actor;`**  
**`mysql> DESCRIBE actor;`**

## Data Manipulation Language (DML)

### SELECT Statement

`mysql> SELECT 'Hello World!';`

`mysql> SELECT (2+2)*3;`

SELECT <column list> FROM <table name>;

`mysql> SELECT * FROM language;`

`mysql> SELECT * FROM sakila.language;`

### WHERE Clause

`mysql> SELECT * FROM sakila.language WHERE name = 'English';`

`mysql> SELECT first_name FROM actor WHERE actor_id = 4;`

`mysql> SELECT city FROM city WHERE city_id < 5;`

For numbers, the frequently used operators are equal (=), greater than (>), less than (<), less than or equal (<=), greater than or equal (>=), and not equal (<> or !=).

`mysql> SELECT language_id, name FROM sakila.language`  
    `-> WHERE language_id <> 2;`  

#Similar to  

`mysql> SELECT language_id, name FROM sakila.language`  
    `-> WHERE NOT (language_id = 2);`

#Not case-sensitive  
`mysql> SELECT first_name FROM actor WHERE first_name < 'B';`  
`mysql> SELECT first_name FROM actor WHERE first_name < 'b';`

#Wild card %  
`mysql> SELECT title FROM film WHERE title LIKE '%family%';`

`mysql> SELECT title FROM film_list WHERE category LIKE 'Sci-Fi'`  
    `-> AND rating LIKE 'PG';`

`mysql> SELECT title FROM film_list WHERE (category like 'Sci-Fi'`  
    `-> OR category LIKE 'Family') AND rating LIKE 'PG';`

INTERVAL
BINARY, COLLATE
!
- (unary minus), ~ (unary bit inversion)
^
*, /, DIV, %, MOD
-,+
<<, >>
&
\|
= (comparison), <=>, >=, >, <=, <, <>, !=, IS, LIKE, REGEXP, IN, MEMBER OF
BETWEEN, CASE, WHEN, THEN, ELSE
NOT
AND, &&
XOR
OR, \|\|
= (assignment), :=

`mysql> SELECT title`  
   `-> FROM film_list`  
    `-> WHERE price BETWEEN 2 AND 4`  
    `-> AND (category LIKE 'Documentary' OR category LIKE 'Horror')`  
    `-> AND actors LIKE '%BOB%';`

### ORDER BY Clause

`mysql> SELECT name FROM customer_list`  
    `-> ORDER BY name`  
    `-> LIMIT 10;`

`mysql> SELECT address, district FROM address`  
    `-> ORDER BY district, address;`

`mysql> SELECT id, name FROM customer_list`  
    `-> ORDER BY id LIMIT 10 OFFSET 5;`

## Joining Two Tables

`LEFT JOIN, RIGHT JOIN,, INNER JOIN`

`mysql> SELECT city, country FROM city INNER JOIN country`  
    `-> ON city.country_id = country.country_id`  
    `-> WHERE country.country_id < 5`  
    `-> ORDER BY country, city;`

#Equals

`mysql> SELECT city, country FROM city INNER JOIN country`  
    `-> using (country_id)`**  
    `-> WHERE country.country_id < 5`  
    `-> ORDER BY country, city;`

## The INSERT Statement

`mysql> SHOW COLUMNS FROM language;`

`mysql> INSERT INTO language VALUES (NULL, 'Portuguese', NOW());`

`mysql> SELECT * FROM language;`

`mysql> SELECT MAX(language_id) FROM language;`

`mysql> INSERT INTO language VALUES (8, 'Russian', '2020-09-26 10:35:00');`

`mysql> INSERT IGNORE INTO language VALUES (8, 'Arabic', '2020-09-26 10:35:00');`

`mysql> INSERT INTO language VALUES (NULL, 'Spanish', NOW()),`  
    `-> (NULL, 'Hebrew', NOW());`

#Alternative Syntax

`mysql> INSERT INTO actor (actor_id, first_name, last_name, last_update)`  
    `-> VALUES (NULL, 'Vinicius', 'Grippa', NOW());`

`mysql> INSERT INTO city (city,country_id) VALUES`  
    `-> ('Sao Carlos',19),`  
    `-> ('Araraquara',19),`  
    `-> ('Ribeirao Preto',19);`

`mysql> INSERT INTO country VALUES (NULL, 'Uruguay', DEFAULT);`

`mysql> INSERT INTO country SET country_id=NULL,`  
    `-> country='Bahamas', last_update=NOW();`

## DELETE

`mysql> DELETE FROM rental;`

`mysql> DELETE FROM language;` -- Referential Error

`mysql> DELETE FROM rental WHERE rental_id < 10;`

`mysql> DELETE FROM payment ORDER BY customer_id LIMIT 10000;`

`mysql> TRUNCATE TABLE payment;`

## UPDATE

`mysql> UPDATE payment SET amount=amount*1.1;`

`mysql> UPDATE payment SET last_update='2021-02-28 17:53:00';`

`mysql> UPDATE actor SET last_name= UPPER('cruz')`  
    `-> WHERE first_name LIKE 'PENELOPE'`  
    `-> AND last_name LIKE 'GUINESS';`

## SHOW and mysqlshow

`mysql> SHOW DATABASES;`

`$ mysqlshow -uroot -pP@ssw0rd -h 127.0.0.1 -P 3306`

`mysql> SHOW DATABASES LIKE 's%';`

`mysql> SHOW CREATE DATABASE sakila;`

`mysql> SHOW TABLES FROM sakila;`

`$ mysqlshow -uroot -pP@ssw0rd -h 127.0.0.1 -P 3306 sakila`

`mysql> SHOW COLUMNS FROM country;`

`$ mysqlshow -uroot -pP@ssw0rd -h 127.0.0.1 -P 3306 sakila country`